* {
    border: 0;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: white !important; 
    box-shadow: 0 8px 12px #3aa4ce83; 
    position: relative;
    color: black;
    padding: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.navbar-brand:hover {
    cursor: pointer;
    opacity: .5;
}

.titulo-veterinaria {
    margin: 0;
    font-size: 16px;
    color: rgba(23, 71, 157, 1);
}

.logo-clinica {
    height: 70px;
    width: 75px;
}

@media screen and (min-width: 768px) {
    .titulo-veterinaria {
        font-size: 22px;
    }
}  


.navbar-toggler {
    border: 1px solid rgb(129, 126, 126);
}

.navbar-toggler-icon {
    filter: invert();
}

.offcanvas-header {
    background-color: #0ba1dde7;
    color: white;
}

.navbar-nav {
    gap: 20px;
}

.nav-item {
    border-bottom: 1px solid #324851e7 !important;
}   

.nav-link {
    color: black !important;
    font-size: 17px;
    font-weight: 500;
}

@media screen and (min-width: 992px) {
    .nav-item {
        border: none !important;
    }

    .nav-link:hover {
        color: rgb(255, 151, 6) !important;
        transition: all 0.5s ease !important;
        cursor: pointer;
    }

}  

  /* Estilos para el botón de Iniciar Sesión */
.BotonInicio {
    background-color: rgba(23, 71, 157, 1);
    color: white;
    border: none;
  }
  
  .BotonInicio:hover {
    background-color: rgba(23, 70, 157, 0.707); /* Color más oscuro para el hover */
    color: white;
  }
  
  /* Estilos para el botón de Registrarse */
  .BotonRegistro {
    border-color: rgba(23, 71, 157, 1);
    color: rgba(23, 71, 157, 1);
  }
  
  .BotonRegistro:hover {
    background-color: rgba(23, 71, 157, 1);
    color: white;
  }
  