.planes-veterinarios {
  padding: 2rem;
  background-color: #f5f5f5;
  width: 100%;
}

.titulo-principal {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 330px; /* Establece un ancho fijo para todas las tarjetas */
  min-height: 400px; /* Establece una altura fija para todas las tarjetas */
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
  color: #333333;
}

.card:hover {
  transform: scale(1.05);
  background-color: #f7f7ff;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nombre-plan {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
  color: #1a1a1a;
}

.descripcion-plan {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #4a4a4a;
  line-height: 1.4;
}

.lista-caracteristicas {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1.5rem;
  flex-grow: 1;
}

.item-caracteristica {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
  font-size: 0.95rem;
  color: #333333;
}

.icono-check {
  margin-right: 0.5rem;
  color: #4caf50;
  width: 18px;
  height: 18px;
}

.boton-elegir {
  display: inline-block; /* Hace que el enlace se comporte como un botón en línea */
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 0.25rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  text-decoration: none; /* Elimina el subrayado del enlace */
}

.boton1 {
  background-color: #3b82f6;
}

.boton2 {
  background-color: #10b981;
}

.boton3 {
  background-color: #3b82f6;
}

.boton-elegir:hover {
  opacity: 0.5;
  transform: scale(1.03);
}

@media (max-width: 768px) {
  .titulo-principal {
    font-size: 2rem;
  }
}
