@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@400&display=swap');

.contenedorImagen {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  flex-wrap: wrap; 
  box-shadow: 0 8px 12px #3aa4ce83; 
  background-image: url('../assets/portadita2.png');  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 55vh; 
  width: 100%; 
}

@media (max-width: 768px) {
  .contenedorImagen {
    flex-direction: column;
    height: auto;
    background-position: 78%;
  }

  .tituloImagen {
    max-width: 100%;
    text-align: center;
    margin-right: 0;
    padding: 10px;
  }

  .tituloImagen h1 {
    font-size: 2rem;
  }

  .tituloImagen p {
    font-size: 1rem;
  }

  .tituloImagen Button {
    font-size: 0.9rem;
  }
}

.tituloImagen {
  max-width: 90%;
  margin-right: 10px;
}

@media (min-width: 950px) {
  .tituloImagen {
    max-width: 70%;
    margin-right: 10px;
  }
}

@media (min-width: 1200px) {
  .tituloImagen {
    max-width: 55%;
    margin-right: 10px;
  }
}

.tituloImagen h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  margin-bottom: 15px;
  color: rgba(23, 71, 157, 1);
}

.tituloImagen p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #333;
}

.botonPortada {
  background-color: #4836ec !important;
  border: none;
  padding: 15px !important;
}

.botonPortada:hover {
  opacity: 0.8;
  transform: scale(1.03);
  transition: all 0.3s ease;
}